<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#projects">My Projects</a></li>
            </ul>
        </nav>
    </header>

    <section id="home" class="home-section">
        <div class="overlay">
            <h1>Welcome to My Portfolio</h1>
            <p>This is a brief introduction to who I am and what I do.</p>
        </div>
    </section>

    <section id="about">
        <h2>About Me</h2>
        <p>Hello, I'm a Python Fullstack developer passionate about building web applications and exploring new technologies.<br>
             I have experience with Python, Flask, HTML, CSS, and JavaScript.</p>
    </section>

    <section id="projects">
        <h2>My Projects</h2><br><br>
        <ul>
            <li><h2>Project 1: Fresh_Cuts</h2>
                <p>An online Meat shop where users can buy products online. Built with Django, HTML, CSS, and Bootstrap.</p></li>
            <li><h2>Project 2: Buy-Easy</h2>
                <p>This is a simple React project used to add and view products using an API.</p></li>
            <li><h2>Project 3: Employee Management</h2>
                <p>An employee management system where you can add, view, and delete employees.</p></li>
            <li><h2>Project 4: Crime-log</h2>
                <p>An onlice Crime system where police can register cases through online. Built with Django, Html, Css</p></li>
            <li><h2>Project 5: My_Portfolio</h2>
                <p>This portfolio website you're currently viewing! Built with Flask and simple front-end technologies.</p></li>
        </ul>
    </section>

    <footer>
        <p>&copy; 2024 My Portfolio</p>
    </footer>

</body>
</html>
